{{!-- using some code from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_collapse_sidebar to create sidebar--}}

{{!-- 1. fix sidebar
2. drop down for goals --}}


<div id="sidebar" class="bar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">☰</a>
    <br>
    <a href="/devices" id="add">Add Device</a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a href="/account">My Profile</a>
    <a href="/logout">Sign Out</a>
    <a href="/help">Help</a>
</div>
<main>
    <div id="fullsite">
    <button class="openbtn" onclick="openNav()">☰</button>
    <h1>Hi, {{firstName}}!</h1>
    <div class="row">
        <div class="column">
            <div>
            <h3>Lenovo ThinkPad X1 Carbon Gen 11 Stats</h3>
            <h5>Carbon Emissions Saved By:</h5>
                    <ul>
                        <li>Charging Less Often</li>
                        <ul>
                            <li>Equivalent to charging 1,293 smartphones</li>
                        </ul>
                        <li>Lessening Time Spent on Device Per Week</li>
                        <ul>
                            <li>Equivalent to driving 27 miles</li>
                        </ul>
                    </ul>
                    <a href="/facts">Learn More</a>
            </div>
            <br>
            <br>
            <h3>{{firstName}}'s Other Goals:</h3>
            <form action="">
                <label for="goals">Choose a goal to focus on</label>
                <br>
                <br>
                <select name="goals" id="goals">
                    {{#each this.deviceGoals}}
                    <option>{{this}}</option>
                    {{/each}}
                </select>
                <br>
                <br>
                <button type="submit" class="btn">Submit</button>
            </form>
        </div>
        <div class="column">
            <div>
                <h3>Current Goal:</h3>
                <p>Recharge before device reaches 20%</p>
                <progress value="32" max="100"> 75% </progress>
                <h3>You're so close!</h3>
                <a href="/leaderboard">Check out the leaderboard</a>
            </div>
            <br>
            <br>
                <h3>Sustainability Tips</h3>
                <ul> 
                  <li>Ask suppliers to email you a receipt instead of printing</li>
                  <li>Use natural light during the day instead of overhead lights or lamps</li>
                  <li>Organize carpools to work, sports, events, and other activities</li>
                </ul>
        </div>
    </div>
    </div>
    <script>
    function openNav() {
        document.getElementById("sidebar").style.width = "250px";
        document.getElementById("fullsite").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("sidebar").style.width = "0px";
        document.getElementById("fullsite").style.marginLeft= "0px";
    }
    </script>
</main>