<main>
	<form method="post" id="editDeviceGoal-form">
		<div class="vertical-container">
		<h2 class="title">Edit Goals For: {{this.currentDeviceName}}</h2>

		
		<label for="devGoals">Device Goals: </label>
		<br>
		<select name="deviceGoals" id="deviceGoals" multiple required>
			<option value="Test 0">Test 0</option>
			{{#each goals}}
				<option>{{this}}</option>
			{{/each}}
		</select>
		<br />
		<br>
		{{#if error}}
			<p class="error">{{message}}</p>
		{{/if}}

		<br />
		<a href="/goals" id="link">Learn More About Device Goals</a>
		</br>
		</br>
		<button type="submit" class="button">Submit</button>
		<br>
		<br>
		<br>
		<br>
		<br>
		<a href="/dashboard" class="button">Back to Dashboard</a>
		</div>
	</form>
</main>