<main>
  <form action="/editProfile" method="POST" id="editProfile-form">
  {{!-- Might need to add correct action --}}
    <div class="edit-profile-container">
        <h2 class="title">Edit Profile</h2>

        <label for="firstName">First Name:</label>
        <br>
        <input type="text" id="firstName" name="firstName" required class="register-input" placeholder="Enter first name">
        <br/>
        <br>
        <label for="lastName">Last Name:</label>
        <br>
        <input type="text" id="lastName" name="lastName" required class="register-input" placeholder="Enter last name">
        <br/>
        <br>
        <label for="email">Email:</label>
        <br>
        <input type="email" id="email" name="email" required class="register-input" placeholder="Enter email address">
        <br/>
        <br>
        <label for="ageInput">Age:</label>
        <br>
        <input type="number" id="ageInput" name="ageInput" class="register-input" min="0" placeholder="Enter your age">
        <br/>
        <br>
        <label for="occupation">Occupation:</label>
        <br>
        <input type="text" id="occupation" name="occupation" class="register-input" placeholder="Enter your occupation">
        <br/>
        <br>
        <label for="numberDevices">Number of devices owned:</label>
        <br>
        <input type="number" id="numberDevices" name="numberDevices" class="register-input" min="0" placeholder="Enter the number of devices you own">
        <br/>
        <br>
        <label for="password">Password (must have at least 8 characters, 1 special character, 1 number, and 1 capital letter):</label>
        <br>
        <input type="password" id="password" name="password" required class="register-input" placeholder="Enter password">
        <br/>
        <br>
        <label for="confirmPassword">Confirm Password:</label>
        <br>
        <input type="password" id="confirmPassword" name="confirmPassword" required class="register-input" placeholder="Enter password">
        <br/>
        <br>
        <p>Please select your geographical location:</p>
          <input type="radio" id="urban" name="geography" value="urban">
          <label for="urban">Urban</label><br>
          <input type="radio" id="suburban" name="geography" value="suburban">
          <label for="suburban">Suburban</label><br>
          <input type="radio" id="rural" name="geography" value="rural">
          <label for="rural">Rural</label>
        <br/>
        <br>
        <p>What is your operating system of choice?</p>
          <input type="radio" id="windows" name="os" value="windows">
          <label for="windows">Windows</label><br>
          <input type="radio" id="macOS" name="os" value="macOS">
          <label for="macOS">Mac OS</label><br>
          <input type="radio" id="linux" name="os" value="linux">
          <label for="linux">Linux</label></br>
          <input type="radio" id="chrome" name="os" value="chrome">
          <label for="chrome">Chrome</label>
          <br>
        <br/>

        <p>What is your phone system of choice?</p>
          <input type="radio" id="andriod" name="phoneSys" value="android">
          <label for="android">Android</label><br>
          <input type="radio" id="ios" name="phoneSys" value="ios">
          <label for="ios">IOS</label><br>
        <br/>


            {{#if error}}
                <p id="error">{{message}}</p>
            {{/if}}

            <br>     
            {{!-- <input type="hidden" name="_method" value="PUT"> --}}
            <button class="button" type="submit">Submit</button>
    </br>
    </br>
    <a href="/account" class="button">Back</a>
    </div>
  </form>
</main>