<h1>Sustainability Facts for {{deviceName}}: </h1>
<ol>
    <li>Disconnecting your laptop from its charger overnight for a week can conserve energy equivalent to the emissions produced by charging 388 phones</li>
    <li>If you charge your laptop for 5 hours every day for a month, it can result in emissions equivalent to driving a car for 18 miles.</li>
    <li>25-30% PCC recycled plastic used in the 57Wh battery enclosure</li>
</ol>