<h1 class="title">Sustainability Facts: Lenovo ThinkPad X1 Carbon Gen 11 </h1>
<div class="facts-container">
<ol class="facts-text">
    <li class="dashboard-text">Disconnecting your laptop from its charger overnight for a week can conserve energy equivalent to the emissions produced by charging 388 phones</li>
    <li class="dashboard-text">If you charge your laptop for 5 hours every day for a month, it can result in emissions equivalent to driving a car for 18 miles.</li>
    <li class="dashboard-text">25-30% PCC recycled plastic used in the 57Wh battery enclosure</li>
</ol>
<br>
<br>
<br>
<br>
<br>
<div class="facts-button">
<a href="/dashboard" class="button">Back</a>
</div>
</div>