<main>
	<form action="forgetpassword" method="POST" id="forget-form">
		<div class="forgot-password-container">
			<h1 class="title">Forgot Password?</h1>
			<br />
			<p>Enter your email address to set up a new password!</p>
			<br />
			<br />
			<label for="email" type="input">
				Email:
				<br />
				<input
					type="email"
					name="email"
					id="email"
					placeholder="Enter email address"
					required
					class="register-input"
				/>
			</label>
			<br />
			<br />
			<a href="/newpassword">
				<button type="submit" class="btn button">Submit</button>
			</a>
		    <br>
    		<br>
			{{#if error}}
			<div class="error" id="forgetpassword-error">
			<p>{{message}}</p>
			</div>
			{{/if}}
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<a href="/login" class="button">Login?</a>
		</div>
	</form>
</main>