<main>
    <h1>Forgot Password?</h1>
    <p>Enter your email address and a new password setup link will be sent to you!</p>
    <label for="emailAddressInput">
      Email:
      <input
        type="email"
        name="emailAddressInput"
        id="emailAddressInput"
        placeholder="Enter email address"
      >
    </label>
    <br>     
    <button type="submit" class="btn">Submit</button>
</main>