<main>
	<form action="forgetpassword" method="POST" id="forget-form">
		<div class="forgot-password-container">
			<h1 class="title">Forgot Password?</h1>
			<br />
			<p>Enter your email address and a new password setup link will be
				sent to you!</p>
			<br />
			<br />
			<label for="email">
				Email:
				<br />
				<input
					type="email"
					name="email"
					id="email"
					placeholder="Enter email address"
					required
					class="register-input"
				/>
			</label>
			{{#if error}}
				<p class="error">{{message}}</p>
			{{/if}}
			<br />
			<br />
			<a href="/newpassword">
				<button type="submit" class="btn button">Submit</button>
			</a>
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<a href="/login" class="button">Login?</a>
		</div>
	</form>
</main>