<h1>Sustainability Goals</h1>
<ol>
    <li>Recharge before device reaches 20% (Daily)</li>
    <li>Turn off wifi at night (Daily)</li>
    <li>Clean out inbox (Daily)</li>
    <li>Download instead of streaming (Weekly)</li>
    <li>Shut Down when not in use (Daily)</li>
    <li>Unplug adapter before bedtime (Daily)</li>
</ol>

<a href="/devices" class="button">Back to Device Registration</a>



