<div class="help-container">
<h1 class="title">Sustainability Goals</h1>
<ol class="facts-text">
    <h3 class="facts-text">Daily Goals:</h3>
    {{#each dailyGoals}}
        <li class="facts-text">{{this}}</li>
    {{/each}}
    <br>
    <h3 class="facts-text">Weekly Goals:</h3>
    {{#each weeklyGoals}}
        <li class="facts-text">{{this}}</li>
    {{/each}}
    <br>
</ol>

<a href="/devices" class="button">Back to Device Registration</a>
<a href="/editGoals" class="button">Back to Edit Goals</a>
</div>



