<div class="help-container">
<h1 class="title">Sustainability Goals</h1>
<ol class="facts-text">
    {{#each goals}}
    <li class="facts-text">{{this}}</li>
    <br>
    {{/each}}
    {{!-- <li class="facts-text"></li>
    <li class="facts-text"></li>
    <li class="facts-text"></li>
    <li class="facts-text"></li> --}}
    {{!-- <li class="facts-text">Unplug adapter before bedtime (Daily)</li> --}}
</ol>

<a href="/devices" class="button">Back to Device Registration</a>
<a href="/editGoals" class="button">Back to Edit Goals</a>
</div>



