<div class="help-container">
<h1 class="title">Help Page</h1>
<div class ="row">
  <div class="column">
<h2 class = "FAQs faqs-text ">FAQs</h2>
    <br>
    <ul class="text">
      <li>Q: How do I register a device?</li>
      <li>A: Go to the Device Registration page and fill out the form.</li>
      <br>
      <li>Q: How do I view my device goals?</li>
      <li>A: Go to the Device Goals page.</li>
      <br>
      <li>Q: How do I submit a help ticket?</li>
      <li>A: Fill out the form on this page.</li>
    </ul>
  </div>
    <div class="column">
<h2 class="helpTicket">Submit a Help Ticket</h2>
  <form method="POST" id="help-form" class="column">
    <br>
    <label for="email">
      Email:
      <br>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Enter email address"
      required>
    </label>
    <br>
    <br>
    <label for="issue">
      Issue:
      <br>
      <textarea
        type="text"
        name="issue"
        id="issue"  
        placeholder="Describe your issue here!"
      required></textarea>
    </label>
    <br>
    <br>

    {{#if error}}
      <p class="error">{{message}}</p>
    {{/if}}
    <br>     
    <button type="submit" class="btn button">Submit</button>
  </form>
  </div>
</div>
  </br>
  </br>
    <a href="/dashboard" class="button">Back to Dashboard</a>
</div>