<div class="help-container">
  <div class ="row">
    <h1 class="help-title">Help Page</h1>
  <div class="column">
    <div class="column-shift">
<h2 class="faq-text">FAQs</h2>
    <br>
    <ul class="qna">
      <li>Q: How do I register a device?</li>
      <li>A: On the device registration page, you can find a form that allows you to register a device and pick goals for it.</li>
      <br>
      <li>Q: How do I view my device goals?</li>
      <li>A: Your personal device goals are viewable from your Dashboard.  To view full goal descriptions, visit the learn more link on the device registration page.</li>
      <br>
      <li>Q: How do I submit a help ticket?</li>
      <li>A: Fill out the form on the lefthand side of this page.  Our support team will get back to you as soon as possible.</li>
      <br>
      <br>
      <br>
      <br>
      <a href="/dashboard" class="button">Back</a>
    </ul>
    </div>
  </div>
    <div class="column">
      <div class="column2-shift">
<h2 class="faq-text">Submit a Help Ticket</h2>
  <form method="POST" id="help-form" class="column">
    <br>
    <label for="email">
      Email:
      <br>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Enter email address"
        value={{{this.email}}}
      required>
    </label>
    <br>
    <br>
    <label for="issue">
      Issue:
      <br>
      <textarea
        type="text"
        name="issue"
        id="issue"  
        placeholder="Describe your issue here!"
      required></textarea>
    </label>
    <br>  
    <br>
    <button type="submit" class="btn button" href="/help">Submit</button>
  </form>
    <br>

    {{#if error}}
      <script>
        document.getElementById('help-form').addEventListener('submit', function(e) {
          e.preventDefault();
          alert({{message}});
        });
      </script>
    {{/if}}
    {{#if success}}
      <p class="success">{{message}}</p>
    {{/if}}
    <br> 
    </div> 
  </div>
</div>
  </br>
  </br>
</div>