<div>
    <h1>Leaderboard</h1>
    <h3>See where you rank below!</h3>
    <div class="leaderboard">
        <table>
            <tr>
                <th>Rank</th>
                <th>First Name</th>
                <th>Points</th>
            </tr>
        {{#each users}}
            <tr>
                <td>#{{math @index "+" 1}}</td>
                <td>{{this.firstName}}</td>
                <td>{{this.points}}</td>
            </tr>
        {{/each}}
        </table>
    </div>
</div>

</br>
</br>
<a href="/dashboard">Back to Dashboard</a>

</br>
</br>
<a href="/rewards/redeem">Redeem Reward</a>