<main>
  <form action="login" method="POST" id="login-form" class="column">
    <div class="login-container">
    <h1 class="title">Login!</h1>
    <label for="email">
      Email:
      <br>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Enter email address"
      >
    </label>
<br>
<br>
    <label for="password">
      Password:
      <br>
      <input
        type="password"
        name="password"
        id="password"  
        placeholder="Enter password"
      >
    </label>

    {{#if error}}
      <p class="error">{{message}}</p>
    {{/if}}

    <br>
    <br> 
    <button type="submit" class="btn">Submit</button>
    <p>New user? Sign up <a href="/register" class="register">here!</a></p>
    <a href="/forgetpassword">Forgot Password?</a>
  </form>
    </div>
</main>