<main>
	<div class="login-container">
		<div class="login-text">
			<h1 class="title">Goodbye {{firstName}}!</h1>
			<h2>You have been signed out</h2>
			<h3>Already a User? <a href="/login" id="link">Log In!</a></h3>
			<h3>New User? <a href="/register" id="link">Sign up here!</a></h3>
		</div>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
    	<img class="logout-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/03/Lenovo_Global_Corporate_Logo.png/2560px-Lenovo_Global_Corporate_Logo.png" alt="lenovo-logo" width="150px">
	</div>
</main>