<main>
	<div class="login-container column">
		<div class="login-text">
			<h1 class="title">Goodbye {{firstName}}!</h1>
			<h2>You have been signed out</h2>
			<h3>New User? <a href="/register">Sign up here!</a></h3>
			<h3>Already a User? <a href="/login">Log In!</a></h3>
		</div>
	</div>
</main>