<main>
	<form action="newpassword" method="POST" id="newpass-form">
		<div class="vertical-container">
			<h1 class="title">New Password</h1>
			<label for="newPassword">
				New Password:
				<br>
				<input
					type="password"
					name="newPassword"
					id="newPassword"
					required
					placeholder="Enter password"
					class="password-input"
				/>
			</label>
			<br>
			<br>
			<label for="newPasswordInput">
				Confirm New Password:
				<br>
				<input
					type="password"
					name="newPasswordInput"
					id="newPasswordInput"
					placeholder="Enter password"
					class="password-input"
					required
				/>
			</label>
			<br>
			<script>
				// check errors
				document.getElementById("newpass-form").addEventListener("submit", function (event) {
					const password = document.getElementById("newPassword").value;
					const passwordInput = document.getElementById("newPasswordInput").value;
					if (password !== passwordInput) {
						alert("Passwords do not match");
						event.preventDefault();
					}
				});
				document.getElementById('newpass-form').addEventListener('submit', function(e) {
					var password = document.getElementById('newPassword').value;
					var passwordInput = document.getElementById('newPasswordInput').value;
					if (password === passwordInput) {
						var passwordCheck = /^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/;
						if (!password.match(passwordCheck)) {
							e.preventDefault();
							alert('Password must have at least 8 characters, 1 special character, 1 number, and 1 capital letter.');
						}
					}
				});
				document.getElementById('newpass-form').addEventListener('submit', function(e) {
					var password = document.getElementById('newPassword').value;
					var passwordInput = document.getElementById('newPasswordInput').value;
					if (password === passwordInput) {
						var passwordCheck = /^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/;
						if (password.match(passwordCheck)) {
							alert('Password successfully changed');
						}
					}
				
				})
			</script>
			{{!-- {{#if error}}
				<p class="error">{{message}}</p>
			{{/if}} --}}
			<br />
			<br>
			<button type="submit" class="btn button">Submit</button>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<a href="/login" class="button">Back</a>
		</div>
	</form>
</main>