<main>
	<form action="newpassword" method="POST" id="newpass-form">
		<div class="vertical-container">
			<h1 class="title">New Password</h1>
			<label for="newPassword">
				New Password:
				<br>
				<input
					type="password"
					name="newPassword"
					id="newPassword"
					required
					placeholder="Enter password"
					class="password-input"
				/>
			</label>
			<br>
			<br>
			<label for="newPasswordInput">
				Confirm New Password:
				<br>
				<input
					type="password"
					name="newPasswordInput"
					id="newPasswordInput"
					placeholder="Enter password"
					class="password-input"
					required
				/>
			</label>
			{{!-- {{#if error}}
				<p class="error">{{message}}</p>
			{{/if}} --}}
			<br />
			<br>
			<button type="submit" class="btn button">Submit</button>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<a href="/login" class="button">Back</a>
		</div>
	</form>
</main>