<main>
  <form action="newpassword" method="POST" id="newpass-form" class="column">
    <h1>New Password</h1>
    <label for="newPassword">
      New Password:
      <input
        type="password"
        name="newPassword"
        id="newPassword"  
        placeholder="Enter password"
      >
    </label>
    <label for="newPasswordInput">
      Confirm New Password:
      <input
        type="password"
        name="newPasswordInput"
        id="newPasswordInput"  
        placeholder="Enter password"
      >
    </label>
    <br>     
    <button type="submit" class="btn">Submit</button>
    </form>
</main>