<main>
  <h1>Profile</h1>
<div class="row">
  <div class="column">
    <img>
    <h2>Edit Profile</h2>
    <a href="/newpassword">Click Here to change your password!</a>
    {{!-- not sure if we want to have this on this page or link to another page --}}
  </div>
    <div class="column">
    <h2>User Userson</h2>
    <h4>user@usermail.com</h4>
  </div>
  <div class="column">
    <div>
        <h2>My Devices:</h2>
        <div class="row">
            <div class="column">
                <img>
            </div>
            <div class="column">
                <p>description</p>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <img>
            </div>
            <div class="column">
                <p>description</p>
            </div>
        </div>
        <button>Add Device</button>
        <a href="leaderboard">Check out the leaderboard!</a>
    </div>
  </div>
</div>
</main>