<main>
	<div class="container column help-container">
		<div class="text">
			<h1 class="title">Congratulations!</h1>
			<h2>You have redeemed your reward! Please check your email!</h2>
			<a href="/rewards" class="button">Back</a>
		</div>
	</div>
</main>