<main>
	<div class="redeemed-container">
		<div class="login-text">
			<h1 class="title">Congratulations!</h1>
			<h2>You have redeemed your reward!</h2>
			<h3>Please check your email for more details</h3>
			<br>
			<br>
			<br>
			<a href="/rewards" class="button">Back</a>
		</div>
	</div>
</main>