<main>
	<div class="redeemed-container">
		<div class="login-text">
			<h1 class="title">Congratulations!</h1>
			<h2>You have redeemed your reward!</h2>
			<h3>Please check your email for more details</h3>
			<br>
			<br>
			<br>
			<a href="/rewards" class="button">Back</a>
			<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
    	<img class="logout-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/03/Lenovo_Global_Corporate_Logo.png/2560px-Lenovo_Global_Corporate_Logo.png" alt="lenovo-logo" width="150px">
		</div>
	</div>
</main>