<main>
	<form method="post" id="registerDevice-form">
		<div class="vertical-container">
		<h2 class="title">Device Registration</h2>

		<label for="serialNum">Serial Number: </label>
		<br>
		<input type="text" name="serialNumber" id="serialNumber" required />
		<br />
		<br>
		<label for="devName">Device Name: </label>
		<br>
		<input type="text" name="deviceName" id="deviceName" required />
		<br />
		<br>
		<label for="devGoals">Device Goals: </label>
		<br>
		<select name="deviceGoals" id="deviceGoals" multiple required>
			<option value="Test 0">Test 0</option>
			{{#each goals}}
				<option>{{this}}</option>
			{{/each}}
		</select>
		<br />
		<br>
		{{#if error}}
			<p class="error">{{message}}</p>
		{{/if}}

		<br />
		<a href="/goals" id="link">Learn More About Device Goals</a>
		</br>
		</br>
		<button type="submit" class="button">Submit</button>
		<br>
		<br>
		<br>
		<br>
		<br>
		<a href="/dashboard" class="button">Back to Dashboard</a>
		</div>
	</form>
</main>