@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Poppins:wght@700&display=swap');
body {
  background: linear-gradient(115deg, #E00849 0%, rgba(186, 0, 89, 0.73) 31.66%, rgba(153, 0, 183, 0.65) 62.83%, #6300C6 94.99%) fixed;
  margin: 50px;
}
* {
  font-family: "Montserrat";
}
.login-container {
  background-color: rgba(238, 238, 238, 0.70);
  width: 290%;
  height: 575px;
  padding: 20px;
  /* display: flex; */
}
#link {
  color: #096CD5;
  font-weight: bold;
}
.login-text {
  padding-left: 30px;
}
.title {
  color: #000;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.form-words {
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.column {
    float: left;
    width: 33%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .bar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #EEEEEE;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .bar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .bar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
  }
  
  #fullsite {
    transition: margin-left .5s;
    padding: 16px;
  }